<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cily.utils.t_webrtc">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />  <!-- 震动权限 -->

    <uses-feature android:name="android.hardware.camera" />        <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />   <!-- 自动聚焦权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pad.PadAc" />
        <activity android:name=".CallAc" />
        <activity android:name=".TestAc" />
        <activity android:name=".TestAc2" />
        <activity android:name=".TestAc3" />

        <service android:name=".WsService" />

        <activity android:name=".LoginAc" />
        <activity android:name=".pad.PhoneAc" />
        <activity android:name=".pad.PadAc2" />
        <activity android:name=".pad.PhoneWaitAc"
            android:launchMode="singleInstance"/>
        <activity android:name=".pad.VideoAc" />
        <activity android:name=".pad.SettingsActivity" />
        <activity android:name="com.zxing.activity.CaptureActivity"
            android:exported="true"/>
    </application>

</manifest>